{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "Generated OpenAPI client for the Computeflux site API",
  "main": "./dist/index.js",
  "types": "./dist/index.d.ts",
  "type": "module",
  "scripts": {
    "build": "tsc",
    "clean": "rm -rf dist"
  },
  "devDependencies": {
    "typescript": "~5.8.3"
  },
  "dependencies": {
    "whatwg-fetch": "^3.6.2"
  }
}
