CONFIG_DATABASE_PASSWORD=agency_secret
CONFIG_DATABASE_ADDRESS=localhost

CONFIG_STORAGE_SECRET_ACCESS_KEY=admin123
CONFIG_STORAGE_ENDPOINT=http://localhost:9000
CONFIG_STORAGE_PUBLIC_URL=http://localhost:9000/site-api

CONFIG_INGEST_TOKEN=local-dev-ingest-token
